@media screen and (max-width: 600px) {
    .helloWorld {
        font-size: 6.4em;
        display: flex;
        justify-content: center;
    }
    #btnInfo {
        margin-left: 6px !important;
    }
}

@media screen and (min-width: 601px) and (max-width: 991px) {
    #btnInfo {
        margin-left: 6px !important;
    }
}
