    body {
        background: #155263;
        max-height: 1700px;
    }
    
    body::-webkit-scrollbar {
        width: 7px;
        height: 18px;
        background: #ffffff;
    }
    
    body::-webkit-scrollbar-thumb {
        background: #04338b;
    }
    
    p {
        word-wrap: keep-all;
    }
    
    a {
        color: #0babdb;
    }

    a:hover {
        color: #0b799b;
    }


    /* Class */
    
    .newHtml {
        background-color: #155263;
        height: 350px;
        margin-top: 300px;
        font-size: 100px;
        text-align: center;
        color: white;
    }
    
    .loading {
        animation: loading;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-direction: normal;
        /* animation-direction: alternate-reverse; */
    }
    
    @keyframes loading {
        from {
            opacity: 0;
        }
        to {
            opacity: initial;
        }
    }
    
    .helloWorld {
        position: relative;
        color: #fff;
        font-size: 10em;
        font-family: cursive, courier, arial, helvetica;
        -moz-user-select: text;
        -webkit-user-select: text;
        -ms-user-select: text;
    }
    
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
