    body {
        background: #0a2a43;
        max-height: 1700px;
    }
    
    body::-webkit-scrollbar {
        width: 7px;
        height: 18px;
        background: #ffffff;
    }
    
    body::-webkit-scrollbar-thumb {
        background: #04338b;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    p {
        word-wrap: keep-all;
    }
    
    a {
        transition: 1.5s;
        transition-delay: 0s;
        transition-duration: 4.3s;
    }
    /* Class */
    
    .loading {
        animation: loading;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-direction: normal;
        /* animation-direction: alternate-reverse; */
    }
    
    @keyframes loading {
        from {
            opacity: 0;
        }
        to {
            opacity: initial;
        }
    }
    
    .helloWord {
        position: relative;
        color: #fff;
        font-size: 10em;
        font-family: cursive, courier, arial, helvetica;
        -moz-user-select: text;
        -webkit-user-select: text;
        -ms-user-select: text;
    }
    
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }