<!DOCTYPE html>

<html lang="pt-br">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style/style.css">

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="googlebot" content="noindex" />

    <title>404</title>

</head>

<body class="reload">

    <div class="container">

        <div class="center">

            <h1 style="color: red; margin-top: 210px; text-align: center;">Error 404! (Page not found)</h1>

        </div>

        <div class="center">
            <p style="color: white">
                A página <b> <script> document.write(window.location.pathname.replace(window.location.pathname.charAt(0), '')); </script> </b> não foi encontrada ou não existe.
            </p>

        </div>

    </div>


    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

</body>

</html>