<!DOCTYPE html>

<html lang="pt-br">

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="style/style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>JavaScript disabled</title>

</head>

<body class="reload">
    <noscript id="navigatorJs">
        
    <h1 style="color: white; text-align: center; margin-top: 185px;"> Oops, your browser has JavaScript disabled. Therefore, some functions will not work correctly. To have a complete experience, enable it.</h1>

    <p style="color: white; text-align: center; margin-top: 50px;">When you enable it, click <a href="/">here</a> to be redirected to the main page.</p>
    
    </noscript>


    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <script type="text/javascript">
        function readTextFile(file, callback) {
            var rawFile = new XMLHttpRequest();
            rawFile.overrideMimeType("application/json");
            rawFile.open("GET", file, true);
            rawFile.onreadystatechange = function() {
                if (rawFile.readyState === 4 && rawFile.status == "200") {
                    callback(rawFile.responseText);
                };
            };
            rawFile.send(null);

            //https://stackoverflow.com/questions/40954960/read-an-external-local-json-file-into-javascript
        };

        readTextFile("languages.json", function(text) {
            const langBrowser = navigator.language;

            const languages = JSON.parse(text);

            const st = {
                'pageNumber': 1,
            };

            const title = '';

            const navigatorJs = document.getElementById('navigatorJs');


            if (navigatorJs.parentNode !== null) {
                navigatorJs.parentNode.removeChild(navigatorJs);
            } else {
                document.body.innerHTML = '';
                document.body.style.backgroundColor = '#0a2a43';
            };

            document.title = 'JavaScript enabled';

            document.body.style.textAlign = 'center';
            document.body.style.marginTop = '305px';
            document.body.style.color = 'WHITE';


            window.history.pushState(st, title);


            let langContext = false;

            languages.forEach(l => {
                if (l.tipo.toLowerCase() == langBrowser.toLowerCase()) {

                    document.body.innerHTML = '<h1>' + l.javascriptEnabledMessage + '</h1>';
                    langContext = true;

                };
            });

            if (langContext == false || document.body.innerText == 'undefined') return document.body.innerHTML = '<h1>' + 'Your JavaScript is already enabled. ^' + '</h1>';


            setTimeout(function() {
                window.location.href = '/';
            }, 1000 * 3);

        });
    </script>

</body>

</html>