<!DOCTYPE html>

<html lang="pt-br">

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.css" rel="stylesheet" />


    <link rel="stylesheet" type="text/css" href="../style/style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="theme-color" content="#000" />

    <meta name="author" content="Adrian Cristian" />
    <meta name="creator" content="Adrian Cristian" />

    <title>Hello World - Preview Page</title>

</head>

<body class="loading">

    <header>

        <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #155263;">

            <div class="container">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Menu Colapso">

                    <span class="material-icons">
                        home
                    </span>

                </button>

                <div id="menu" class="navbar-collapse collapse">

                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link" style="margin-left: 5px;" href="https://github.com/Adrian-Cristian/Say-Hello-World-With-The-Browser-Language" target="_blank">Github</a>
                        </li>

                    </ul>

                </div>

            </div>

        </nav>

    </header>


    <div class="container" id="divContainer">

        <div style="background-color: #155263;">

            <div style="justify-content: center;" id="divText">
                <h1 style="text-align: center; margin-top: 100px; margin-left: -20px;" class="helloWord" id="text" title="Press 'C' key to copy this text">Hello World!</h1>

            </div>

            <div class="center">

                <button class="btn btn-outline-primary" style="text-align: center; margin-top: 50px; border-radius: 15px;" id="btnCopy" onclick="btnCopy()">Copy</button>

            </div>

        </div>


    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.js"></script>

    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script type="text/babel" src="script/copy.js"></script>

</body>


</html>