<!DOCTYPE html>

<html lang="pt-br">

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="style/style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <noscript>

        <meta http-equiv="refresh" content="0 URL='noScript.html'">

    </noscript>

    <title>Unknown Language</title>

</head>

<body class="reload">

    <div class="container">

        <div>

            <div class="center">
                <h1 style="color: white; text-align: center; margin-top: 215px">Unfortunately, you browser language is not yet supported. :(</h1>
            </div>

            <div class="center">
                <p style="font-size: 15px; color: white;"> <br>but still, do you want to continue?</br>
                </p>
            </div>

            <div class="center">
                <button class="btn btn-warning" style="margin-top: -60px; margin-left: 280px; width: 2px; height: 30px;" onclick="directToPage()">
               <span class="material-icons center" style="margin-top: -5px">
                        check
               </span>

            </div>

        </div>

    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.js"></script>

</body>


<script type="text/javascript">
    function directToPage() {
        window.location.href = '../PreviewPage/previewPage.html'
    }
</script>

</html>